<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <% include partials/nav.ejs %> this is the navigation bar which can be included in all the pages -->
    <p> Profile of </p>
    <h1>
            <%= person %>
            <%= age %>
           
        <!-- <ul>
        <% test.forEach(function(item) { %>
            <li> <%= item %> </li>
       <%   }) ; %>
        </ul> -->
    </h1>
</body>
</html>